@charset "UTF-8";

body {
    background-color: #0A0C1B;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0px;
}

main {
    padding-top: 80px;
    padding-left: 20px;
    color: #cfcfcf;
    width: 80%;
    margin: auto;
    text-align: center;
}

main a {
    color: #cacaca;
    text-decoration: none;
}

main a:hover {
    color: #ffffff;
}

.main-selection, .sec-selection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14pt;
}

.left-selection, .right-selection {
    padding: 10px;
    background-color: #00000050;
    border: 2px  solid #6b0303;
    border-radius: 10px;
}

.car-selection, .city-selection {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 20px;
    background-color: #00000050;
    border-radius: 10px;
}

input[type="text"] {
    width: 400px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #000000;
    color: #cfcfcf;
    border: 1px solid #6b0303;
    border-radius: 4px;
}

input::placeholder {
    color: #7e7e7e;
}

input[type="text"]:focus {
    border-color: #cc0000;
    outline: none;
}

button {
    background-color: #6b0303;
    color: #cacaca;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #110f14;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
}

.header-bar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    color: #cacaca;
    text-decoration: none;
    padding: 2px 15px;
    transition: color 0.3s ease;
}

.header-menu a:hover {
    color: #ffffff;
}

.header-menu a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1px;
    height: 30%;
    background-color: #cacaca;
}

.header-menu a:first-child::before {
    display: none;
}

.header-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #cc0000;
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.header-menu a:hover::after {
    width: 100%;
    opacity: 1;
}

.header-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-menu {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.login-menu a {
    background-color: #6b0303;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 64px;
    position: relative;
    color: #cacaca;
    text-decoration: none;
    margin: 10px;
}

.login-menu a:hover {
    background-color: #970202;
    color: #ffffff;
}

footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {
    .header-bar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .header-menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}