@charset "UTF-8";

main a {
    color: #cacaca;
    text-decoration: none;
}

main a:hover {
    color: #ffffff;
}

.main-selection, .sec-selection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14pt;
}

.left-selection, .right-selection {
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: #00000050;
    border: 2px  solid #6b0303;
    border-radius: 10px;
}

.car-selection, .city-selection {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 20px;
    background-color: #00000050;
    border-radius: 10px;
}

input[type="text"] {
    width: 400px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #000000;
    color: #cfcfcf;
    border: 1px solid #6b0303;
    border-radius: 4px;
}

input::placeholder {
    color: #7e7e7e;
}

input[type="text"]:focus {
    border-color: #cc0000;
    outline: none;
}

button {
    background-color: #6b0303;
    color: #cacaca;
}