@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #122032;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.header-bar {
    display: grid;
    background-color: #121016;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    background-color: #121016;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-bar-logo {
    grid-column: 1;
    grid-row: 1;
    padding: 9px;
}

.header-bar-menu {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
}

.header-bar-menu nav a {
    display: block;
    text-align: center;
    font-size: 10pt;
    padding: 5px 40px;
    border-top: 1px solid #808080;
}

.header-bar-menu nav a:first-child {
    border-top: none;
}

.header-bar-login {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    text-align: center;
    width: 42px;
    height: 20px;
    font-size: 12pt;
    background-color: #122236;
    color: #f0f0f0;
    border-radius: 10%;
    padding: 5px 12px;
    margin: 10px 10px;
}

.header-bar a {
    text-decoration: none;
    color: #bbbbbb;
}

main {
    padding-bottom: 600px;
    justify-self: center;
    width: 320px;
}

footer {
    background-color: #000000;
    bottom: 0;
    padding: 20px;
}

.header-bar-menu nav a.active {
    color: #be3939;
}

.header-bar-menu a.active:hover {
    color: #ff0000;
}

@media (min-width: 400px) {
    main {
        justify-self: center;
        width: 400px;
        padding-top: 130px;
    }

    .header-bar {
        position: fixed;
    }

    .header-bar-menu nav {
        display: flex;
        align-items: center;
    }

    .header-bar-menu a::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 30%;
        background-color: #bbbbbb;
    }

    .header-bar-menu a:first-child::before {
        display: none;
    }
    
    .header-bar-menu a:hover {
        color: #ffffff;
    }

    .header-bar-menu a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #cc0000;
        transition: width 0.3s ease, opacity 0.3s ease;
        opacity: 0;
    }

    .header-bar-menu a:hover::after {
        width: 100%;
        opacity: 1;
    }
    
    .header-bar-menu nav {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 40px;
    }

    .header-bar-menu nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #bbbbbb;
        text-align: center;
        border-top: none;
        font-size: 9pt;
        height: 40px;
        padding: 0px 10px;
        transition: color 0.3s ease;
    }
}

@media (min-width: 440px) {
    .header-bar-menu nav a {
        font-size: 10pt;
    }
}

@media (min-width: 480px) {
    .header-bar-menu nav a {
        font-size: 11pt;
    }
}

@media (min-width: 520px) {
    .header-bar-menu nav a {
        font-size: 12pt;
    }
}

@media (min-width: 900px) {
    main {
        justify-self: center;
        width: 800px; /*960p*/
        padding-top: 90px;
    }

    .header-bar {
        display: grid;
        grid-template-rows: auto auto;
        align-items: center;
        height: 90px;
    }

    .header-bar-menu {
        grid-row: 1;
        justify-self: center;
        align-content: center;
    }

    .header-bar-menu nav a {
        height: 90px;
    }
}

main a {
    color: #cacaca;
    text-decoration: none;
}

main a:hover {
    color: #ffffff;
}

.main-selection, .sec-selection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14pt;
}

.left-selection, .right-selection {
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: #00000050;
    border: 2px  solid #6b0303;
    border-radius: 10px;
}

.car-selection, .city-selection {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 20px;
    background-color: #00000050;
    border-radius: 10px;
}

input[type="text"] {
    width: 400px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #000000;
    color: #cfcfcf;
    border: 1px solid #6b0303;
    border-radius: 4px;
}

input::placeholder {
    color: #7e7e7e;
}

input[type="text"]:focus {
    border-color: #cc0000;
    outline: none;
}

button {
    background-color: #6b0303;
    color: #cacaca;
}