@charset "UTF-8";

.start {
    padding: 10px;
    background-color: #00000050;
}

main a {
    color: #cacaca;
    text-decoration: none;
}

.search-container {
    display: grid;
    al
}

main a:hover {
    color: #ffffff;
}

input[type="text"] {
    width: 220px;
    padding: 10px 20px;
    background-color: #000000;
    color: #cfcfcf;
    border: 1px solid #880000;
    border-radius: 4px;
    margin: 5px;
}

input::placeholder {
    color: #7e7e7e;
}

input[type="text"]:focus {
    border-color: #ff0000;
    outline: none;
}