@charset "UTF-8";

section#search-container {
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #192939;
    /*box-shadow: 0px 0px 15px 4px #000000;*/
}

div#search-type {
    display: flex;
    justify-content: space-around;
}

div#search-type > button {
    padding: 10px 0px;
    width: 50%;
    border: none;
    font-size: 11pt;
    backdrop-filter: blur(10px);
}

div#search-type > button#car-search {
    background-color: #10203050;
    border-radius: 20px 0px 0px 0px;
    color: #ffffff;
}

div#search-type > button#local-search {
    background-color: #04080c99;
    border-radius: 0px 20px 0px 0px;
    color: #999999;
}

form {
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: #10203050;
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 20px 20px;
    color: #ffffff;
}

div.selection {
    margin-top: 10px;
    font-size: 11pt;
}

input {
    padding: 10px 20px;
    background-color: #000000;
    color: #cfcfcf;
    border: 1px solid #505050;
    border-radius: 5px;
    margin: 10px;
}

input:focus {
    border-color: #ff0000;
    outline: none;
}

#local-selection {
    display: none;
}


button#show-table {
    margin: 10px;
    border: none;
    background-color: #cc0000;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
}

button#show-table > a {
    text-decoration: none;
    font-size: 11pt;
    color: #ffffff;
}


article {
    margin-top: 40px;
    background-color: #102030;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    height: 600px;
}

article h1 {
    font-size: 16pt;
    margin: 10px;
}

article p {
    font-size: 11pt;
    margin: 10px;
}

@media screen and (min-width: 360px) {
    body {
        background: #102030 url(../img/frota-night.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
}