@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #122032 #121016;
}

body {
    background-color: #122032;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    width: 100%;
}

.header-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    background-color: #121016;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Arial, Helvetica, sans-serif;
}

.header-bar-logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    padding: 9px;
}

.header-bar-menu {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
}

.header-bar-login {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    padding: 10px;
}

.header-bar-menu nav a {
    display: block;
    text-align: center;
    font-size: 10pt;
    padding: 5px 40px;
    border-top: 1px solid #808080;
    text-decoration: none;
    color: #bbbbbb;
}

.header-bar-menu nav a:first-child {
    border-top: none;
}

.header-bar-menu nav a.active {
    color: #be3939;
}

.header-bar-menu a.active:hover {
    color: #ff0000;
}

.header-bar-login nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 10pt;
    background-color: #cc0000;
    padding: 5px;
    border-radius: 10%;
}

main {
    padding-bottom: 100px;
    justify-self: center;
    width: 320px;
}

footer {
    background-color: #000000;
    bottom: 0;
    padding: 20px;
}

@media (min-width: 400px) {
    main {
        justify-self: center;
        width: 400px;
    }

    .header-bar {
        position: relative;
    }
    
    .header-bar-menu nav {
        display: flex;
        align-items: center;
    }

    .header-bar-menu a::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 30%;
        background-color: #bbbbbb;
    }

    .header-bar-menu a:first-child::before {
        display: none;
    }
    
    .header-bar-menu a:hover {
        color: #ffffff;
    }

    .header-bar-menu a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #cc0000;
        transition: width 0.3s ease, opacity 0.3s ease;
        opacity: 0;
    }

    .header-bar-menu a:hover::after {
        width: 100%;
        opacity: 1;
    }
    
    .header-bar-menu nav {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 40px;
    }

    .header-bar-menu nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #bbbbbb;
        text-align: center;
        border-top: none;
        font-size: 9pt;
        height: 40px;
        padding: 0px 10px;
        transition: color 0.3s ease;
    }
}

@media (min-width: 400px) and (min-height: 500px) {
    main {
        padding-top: 130px;
    }

    .header-bar {
        position: fixed;
    }
}

@media (min-width: 440px) {
    .header-bar-menu nav a {
        font-size: 10pt;
    }
}

@media (min-width: 480px) {
    .header-bar-menu nav a {
        font-size: 11pt;
    }
}

@media (min-width: 520px) {
    .header-bar-menu nav a {
        font-size: 12pt;
    }
}

@media (min-width: 840px) {
    main {
        justify-self: center;
        width: 800px;
        padding-top: 90px;
    }

    .header-bar {
        display: grid;
        grid-template-rows: auto auto;
        align-items: center;
        height: 90px;
    }

    .header-bar-menu {
        grid-row: 1;
        justify-self: center;
        align-content: center;
    }

    .header-bar-menu nav a {
        height: 90px;
    }
}