@charset "UTF-8";

* {
    scrollbar-width: thin;
    scrollbar-color: #102030 #080810;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #102030;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    background-color: #080810;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Arial, Helvetica, sans-serif;
}

main {
    width: 320px;
    min-height: 100vh;
    justify-self: center;
    background-color: #00000050;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

footer {
    width: 100%;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#header-logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    padding: 9px;
}

#header-menu {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
}

#header-login {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    padding: 10px;
}

#header-menu a {
    display: block;
    text-align: center;
    font-size: 10pt;
    padding: 5px 40px;
    border-top: 1px solid #999999;
    text-decoration: none;
    color: #999999;
}

#header-menu a:first-child {
    border-top: none;
}

#header-menu a.active {
    color: #cc4040;
}

#header-menu a.active:hover {
    color: #ff0000;
}

#header-login a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 10pt;
    background-color: #cc0000;
    color: #ffffff;
    padding: 5px;
    border-radius: 10%;
}

#header-login a:hover {
    background-color: #ff0000;
}

#header-logo a:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(99%) saturate(7499%) hue-rotate(357deg) brightness(89%) contrast(128%);
}

@media (min-width: 400px) {
    header {
        position: relative;
    }
    
    main {
        justify-self: center;
        width: 400px;
    }

    #header-menu {
        display: flex;
        align-items: center;
    }

    #header-menu a::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 30%;
        background-color: #bbbbbb;
    }

    #header-menu a:first-child::before {
        display: none;
    }
    
    #header-menu a:hover {
        color: #ffffff;
    }

    #header-menu a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #cc0000;
        transition: width 0.3s ease, opacity 0.3s ease;
        opacity: 0;
    }

    #header-menu a:hover::after {
        width: 100%;
        opacity: 1;
    }
    
    #header-menu {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 40px;
    }

    #header-menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        border-top: none;
        font-size: 9pt;
        height: 40px;
        padding: 0px 10px;
        transition: color 0.3s ease;
    }
}

@media (min-width: 400px) and (min-height: 500px) {
    header {
        position: fixed;
    }

    main {
        padding-top: 130px;
    }
}

@media (min-width: 440px) {
    #header-menu a {
        font-size: 10pt;
    }
}

@media (min-width: 480px) {
    #header-menu a {
        font-size: 11pt;
    }
}

@media (min-width: 520px) {
    #header-menu a {
        font-size: 12pt;
    }
}

@media (min-width: 840px) {
    header {
        display: grid;
        grid-template-rows: auto auto;
        height: 90px;
    }

    main {
        justify-self: center;
        width: 800px;
        padding-top: 90px;
    }

    #header-menu {
        grid-row: 1;
        justify-self: center;
        align-content: center;
    }

    #header-menu a {
        height: 90px;
    }
}