@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.header-bar {
    display: flex;
    align-items: start;
    justify-content: space-around;
    position: fixed;
    background-color: #121016;
    width: 100%;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-login {
    display: flex;
    background-color: #122236;
    color: #f0f0f0;
    border-radius: 10%;
    padding: 10px;
    margin-top: 10px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121016;
    padding-top: 81px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-menu a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 9pt;
    border-left: 1px solid #505050;
}

.header-menu a:first-child {
    border-left: 1px solid #50505000;
}

.main-header a {
    text-decoration: none;
    color: #f0f0f0;
}

.main-header a:hover {
    color: #ff0000;
}

main {
    background-color: #122236;
    padding-bottom: 100px;
}

footer {
    background-color: #000000;
    bottom: 0;
    padding: 20px;
}

.main-banner {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #00000080;
}

.central-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.last-news h2,
.last-updates h2 {
    height: 40px;
    padding: 10px;
    align-content: end;
    color: #acacac;
    font-size: 1em;
}

.news-banner,
.updates-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #000000;
}