@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #122236;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.header-bar {
    display: grid;
    background-color: #121016;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    background-color: #121016;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-bar-logo {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}

.header-bar-menu {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
}

.header-bar-menu nav a {
    display: block;
    text-align: center;
    padding: 5px 60px;
}

.header-bar-login {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    background-color: #122236;
    color: #f0f0f0;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}

.header-bar a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 10pt;
}

.main-header a:hover {
    color: #ff0000;
}

main {
    padding-bottom: 100px;
}

footer {
    background-color: #000000;
    bottom: 0;
}

.main-banner {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #000000;
}

.central-banner {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #000000;
}

.last-news h2,
.last-updates h2 {
    height: 40px;
    padding: 10px;
    align-content: end;
    color: #acacac;
    font-size: 1em;
}

.news-banner,
.updates-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #000000;
}

@media (min-width: 340px) {
    .header-bar-menu nav {
        display: flex;
        align-items: center;
    }

    .header-bar-menu nav a {
        display: block;
        text-align: center;
        padding: 5px 5px;
    }

    .header-bar a {
        font-size: 10pt;
    }
}

@media (min-width: 800px) {
    main,
    footer {
        justify-self: center;
        width: 90%;
    }

    .header-bar {
        display: grid;
        grid-template-rows: auto auto;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .header-bar-logo {
        grid-row: 1;
        padding: 10px;
    }

    .header-bar-menu {
        grid-row: 1;
        justify-self: center;
    }

    .header-bar-login {
        grid-row: 1;
        justify-self: end;
    }
}

@media (min-width: 1200px) {
    main,
    footer {
        width: 1080px;
    }

    .header-bar-logo {
        margin-left: 100px;
    }

    .header-bar-login {
        font-size: 14pt;
        margin-right: 100px;
    }

    .header-bar-menu {
        height: 100%;
        align-content: center;
    }

    .header-bar-menu nav {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 100%;
    }

    .header-bar-menu nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #bbbbbb;
        font-size: 14pt;
        height: 90px;
        padding: 0px 20px;
        transition: color 0.3s ease;
    }

    .header-bar-menu a:hover {
        color: #ffffff;
    }

    .header-bar-menu a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #cc0000;
        transition: width 0.3s ease, opacity 0.3s ease;
        opacity: 0;
    }

    .header-bar-menu a:hover::after {
        width: 100%;
        opacity: 1;
    }

    .header-bar-menu a::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 30%;
        background-color: #bbbbbb;
    }

    .header-bar-menu a:first-child::before {
        display: none;
    }
}