@charset "UTF-8";

@media (max-width: 520px) {
    
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
    }

    .header-bar {
        display: flex;
        align-items: start;
        justify-content: space-around;
        position: fixed;
        background-color: #000000;
        width: 100%;
        padding: 4px;
    }

    .header-login {
        display: flex;
        background-color: #800000;
        color: #f0f0f0;
        border-radius: 10%;
        padding: 5px;
        margin-top: 10px;
    }

    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        padding-top: 81px;
    }

    .header-menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 30px;
        border-top: 1px solid #800000;
    }

    .main-header a {
        text-decoration: none;
        color: #f0f0f0;
    }
    
    main {
        background-color: #122236;
        padding-bottom: 100px;
    }

    footer {
        background-color: #000000;
        bottom: 0;
        padding: 20px;
    }

    .main-banner {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: #00000080;
    }

    .central-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        background-color: #000000;
    }

    .last-news h2,
    .last-updates h2 {
        height: 40px;
        padding: 10px;
        align-content: end;
        color: #acacac;
        font-size: 1em;
    }

    .news-banner,
    .updates-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        background-color: #000000;
    }
}