@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

@media (max-width: 749px) {
    .header-bar {
        display: flex;
        align-items: start;
        justify-content: space-around;
        position: fixed;
        background-color: #121016;
        width: 100%;
        padding: 4px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .header-login {
        display: flex;
        background-color: #122236;
        color: #f0f0f0;
        border-radius: 10%;
        padding: 10px;
        margin-top: 10px;
    }

    .header-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #121016;
        padding-top: 90px;
        padding-bottom: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .top-margin, 
    .bottom-margin {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: #ff0000;
    }

    .header-menu a {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 0px 5px;
        font-size: 10pt;
        border-left: 1px solid #505050;
    }

    .header-menu a:first-child {
        border-left: 1px solid #50505000;
    }
}

.main-header a {
    text-decoration: none;
    color: #f0f0f0;
}

.main-header a:hover {
    color: #ff0000;
}

main {
    background-color: #122236;
    padding-bottom: 100px;
}

footer {
    background-color: #000000;
    bottom: 0;
    padding: 20px;
}

.main-banner {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #00000080;
}

.central-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.last-news h2,
.last-updates h2 {
    height: 40px;
    padding: 10px;
    align-content: end;
    color: #acacac;
    font-size: 1em;
}

.news-banner,
.updates-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #000000;
}

@media (min-width: 750px) {
    .main-header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        position: relative;
        background-color: #121016;
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .header-bar {
        display: ;
        align-items: start;
        justify-content: space-around;
    }

    .header-bar-logo {
        grid-column: 1;
    }

    .header-menu {
        grid-column: 2;
        justify-self: center;
    }

    .header-login {
        grid-column: 3;
        justify-self: end;
        display: flex;
        background-color: #122236;
        color: #f0f0f0;
        border-radius: 10%;
        padding: 10px;
        margin-top: 10px;
    }
}