@charset "UTF-8";

.main-banner {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #000000;
}

.central-banner {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #000000;
}

.last-news h2,
.last-updates h2 {
    height: 40px;
    padding: 10px;
    align-content: end;
    color: #acacac;
    font-size: 1em;
}

.news-banner,
.updates-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #000000;
}